{% load boards_web_static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if board.is_shared %}
      <title>{{ board.name }} - Blimp Boards</title>
      <meta property="og:title" content="{{ board.name }} - Blimp Boards"/>
      {% if board.card_thumbnail_lg_path %}
        <meta property="og:image" content="{{ board.card_thumbnail_lg_path }}"/>
      {% endif %}
    {% else %}
      <title>Blimp Boards - Organize anything, visually.</title>
      <meta property="og:title" content="Blimp Boards - Organize anything, visually."/>
    {% endif %}

    <meta name="description" content="Blimp Boards let's you share anything visually.">

    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Blimp Boards"/>
    <meta property="fb:admins" content="502082211"/>
    <meta property="fb:admins" content="501641940"/>
    <meta property="fb:admins" content="682391390"/>
    <meta property="fb:app_id" content="540343842749592"/>
    <meta property="og:description" content="Blimp Boards let's you share anything visually."/>

    <script>window.brunch = window.brunch || {};</script>
    <link rel="stylesheet" href="{% boards_web_static "css/app.css" %}">
  </head>
  <body>
    <div id="application"></div>
    <script>
      window.App = {
        API_URL: "{{ settings.BOARDS_API_URL }}",
        CAMO_URL: "{{ settings.CAMO_URL }}",
        STATIC_URL: "{% boards_web_static %}",
        SOCKETS_URL: "{{ settings.BOARDS_SOCKETS_URL }}",
        {% if board.is_shared %}
        PUBLIC_BOARD: {
          id: {{ board.id }},
          account: {{ board.account_id }},
          collaborator_users: {{ collaborator_users }}
        }
        {% else %}
        PUBLIC_BOARD: {}
        {% endif %}
      };
    </script>
    <script src="{{ settings.BOARDS_SOCKETS_URL }}socket.io/socket.io.js"></script>
    <script src="{% boards_web_static "js/app.js" %}" onload="require('application');"></script>
  </body>
</html>
