{% load boards_web_static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Beautifully Easy Project Management">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blimp | Beautifully Easy Project Management</title>
    <script>window.brunch = window.brunch || {};</script>
    <link rel="stylesheet" href="{% boards_web_static "css/app.css" %}">
  </head>
  <body>
    <div id="application"></div>
    <script>
      window.App = {
        STATIC_URL: "{% boards_web_static %}",
        SOCKETS_URL: "{{ settings.BOARDS_SOCKETS_URL }}"
      };
    </script>
    {% if board_is_shared %}
    <script>
      window.App.PUBLIC_BOARD = {
        id: {{ board_id }}
      };
    </script>
    {% endif %}
    <script src="{{settings.BOARDS_SOCKETS_URL}}socket.io/socket.io.js"></script>
    <script src="{% boards_web_static "js/app.js" %}" onload="require('application');"></script>
  </body>
</html>
